.Main {
    margin: 0;
    padding: 0;
}

.Action-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    margin: 0 0 58px 0;
    padding: 0;
}

.Buttons-list {
    display: grid;
    grid-template-columns: repeat(4, 90px);   
    column-gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 408px;
    height: 52px;
    box-sizing: border-box;
    align-items: center;
}

.Mode-selected {
    background: rgba(8, 30, 52, 0.42);
    color: #FFFFFF;  
}

.Display-status {
    width: 1280px;
    height: 28px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #151517;
    margin: 0 0 24px 0;
    padding: 0;
} 

.Set-display-mode {
    width: 87px;
    height: 40px;
    background: linear-gradient(0deg, rgba(8, 30, 52, 0.05), rgba(8, 30, 52, 0.05)), #F0F0F0;
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #081E34;    
    text-align: center;    
    margin: 0;   
    padding: 10px 24px;
}

.Actions-list {
    margin: 0;
    padding: 0;
    width: 654px;
    min-height: 184px;
}